.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}
.ligth-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: black;
}
.black-text {
    color: black;
}

.some {
    background: lightgreen;
}

.some-text {
    color: aqua;
}
.blue-text {
    color: aqua;
}

.container{
    display: flex;
    justify-content: space-around;
}